section {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.filme-link {
    text-decoration: none;
    color: #212529;
    font-weight: 500;
}

.filme-link:hover {
    color: #0d6efd; 
    text-decoration: underline;
}

.list-group-item {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}
